# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# User-specific
*.xcuserstate
*.xcuserdatad/

# Build artifacts
DerivedData/
build/

# SwiftLint
.swiftlint.yml.bak
